body {
  background-color: #082f7d;
  color: #fff;
}

.new-card {
  background-color: #0d4ac2;
  padding: 15px;
  margin: 15px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.new-card img {
  max-width: 300px;
}

/*
.new-card .short-description {
  
}
*/
